<div class="nested-fields">
  <div class="row">
    <div class="col-sm-8">
      <%= f.association :ingredient %>
    </div>
    <div class="col-sm-4">
      <%= f.input :quantity %>
    </div>
  </div>
  <%= link_to_remove_association "remove dose", f, class: "btn btn-danger btn-xs" %>
</div>
