<div class="page-header">
  <div class="row">
    <div class="col-md-8">
      <h1>Awesome cocktails</h1>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newCocktailModal">
        Create New Cocktails
      </button>
    </div>
  </div>
</div>

<%= render 'form-modal' %>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= cl_image_tag cocktail.photo, height: 100, crop: :fill %>
          <div class="caption">
            <h3> <%= cocktail.name %> </h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
